.jumbotron {
  background-image: url("../images/Sheet\ 5b.jpg");
  background-position: center center;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

nav {
  width: inherit;
  position: fixed;
  top: 0;
}

nav a {
  color: #000;
}

.nav-pills .nav-link {
  color: #fff;
  border-radius: 0px;
}

nav a:hover {
  background-color: #264f65;
  color: #fff;
  transition: color .15s ease-in-out, background-color .15s ease-in-out;
}